/*
* Utilities
*/

.u-align-center {
  text-align: center;
}

.u-align-left {
  text-align: left;
}

.u-align-right {
  text-align: right;
}

.u-position-absolute {
    position: absolute;
}

.u-position-relative {
    position: relative;
}

.u-display-none {
  display: none;
}

/*
* Spacings
*/

// List of breakpoint classes
$breakpoints: (lg, md, sm, xs);

// Spacing types
$settings-spacing-types: ('padding', 'margin') !default;

// Spacing directions
$settings-spacing-direction: (
   null:             null,
   '-top':           '-top',
   '-right':         '-right',
   '-bottom':        '-bottom',
   '-left':          '-left',
) !default;

// Spacing sizes
$settings-spacing-sizes: (
   '-none': 0px,
   '-xs':   15px,
   '-sm':   20px,
   '-md':   25px,
   '-lg':   40px,
   '-xl':   60px,
   '-xxl':  80px
) !default;

$breakpoints: (xl, lg, md, sm);
$breakpoint-count: length($breakpoints) + 1;
$loop-count: 1;

@while $breakpoint-count > 0 {
    @each $property in $settings-spacing-types {

       @each $spacing-direction, $directions in $settings-spacing-direction {

          @each $spacing-size, $size in $settings-spacing-sizes {

             .u-#{$property}#{$spacing-direction}#{$spacing-size} {

                @each $direction in $directions {

                   @if $loop-count == 1 {
                      #{$property}#{$direction}: #{$size} !important;
                   } @else {
                       @include pxl-breakpoint-classes($breakpoints, $breakpoint-count) {
                          #{$property}#{$direction}: #{$size} !important;
                       }
                   }

                }

             }

          }

       }

    }

    $breakpoint-count: $breakpoint-count - 1;
    $loop-count: $loop-count + 1;
}
