/*
* Socials
*/

$ns: c-socials;

.#{$ns} {

  &__item {
    border-radius: 4px;
    background-color: rgba(88, 105, 127, 0.5);
    display: inline-flex;
      align-items: center;
      justify-content: center;
    height: 35px;
    margin: 0 2px;
    width: 65px;
    -webkit-transition: background 0.5s ease;

    &:hover {
      box-shadow: inset 0 0 25px 1px rgba(255, 255, 255, 0.35);
    }

    .#{$ns}--coloured & {
      background-image: -moz-linear-gradient( 103deg, rgb(205,233,255) 0%, rgb(238,247,255) 100%);
      background-image: -webkit-linear-gradient( 103deg, rgb(205,233,255) 0%, rgb(238,247,255) 100%);
      background-image: -ms-linear-gradient( 103deg, rgb(205,233,255) 0%, rgb(238,247,255) 100%);
      height: 50px;
      margin: 0 10px;
      width: 89px;

      &:hover {
        box-shadow: inset 0 0 20px 4px rgba(26, 104, 159, 0.35);
      }
    }

  }

}

.#{$ns}:not(.#{$ns}--coloured) {
  path,
  svg {
    fill: #FFF;
  }
}
