/*
* Base Buttons
*/

button,
.btn {
  background-image: -moz-linear-gradient( 90deg, rgb(230,44,80) 0%, rgb(250,86,118) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(230,44,80) 0%, rgb(250,86,118) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(230,44,80) 0%, rgb(250,86,118) 100%);
  border-radius: 4px;
  border: none;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  height: 65px;
  line-height: 65px;
  min-width: 230px;
  padding: 0 19px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background 0.5s ease;
  width: auto;

  &:hover {
    box-shadow: inset 0 0 50px 10px rgba(255, 255, 255, 0.35);
    text-decoration: none;
  }

  img {
    cursor: pointer;
    margin-left: 8px;
  }

  .svg {
    border-left: 2px solid rgba(255, 137, 160, .6);
    cursor: pointer;
    display: inline-block;
    height: 33px;
    padding-left: 15px;
    margin-left: 15px;
  }

  &--small {
    font-size: 17px;
    height: 47px;
    line-height: 47px;
    min-width: 130px;
    padding: 0 19px;
  }

  &--disabled {
    cursor: default;
    opacity: 0.7;

    &:hover {
      box-shadow: none;
    }
  }

  &--flex {
    display: inline-flex;
      align-items: center;
      flex-direction: row;
  }

}

.go-to-results {
  animation: moving 2500ms infinite;
  border-right: 2px solid rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  cursor: pointer;
  height: 30px;
  margin-bottom: 20px;
  position: relative;
  transform: scale(1) rotateZ(45deg);
  width: 30px;
}

@keyframes moving {
  0% {
    transform: scale(1) rotateZ(45deg);
  }
  50% {
    transform: scale(1.5) rotateZ(45deg);
  }
  100% {
    transform: scale(1) rotateZ(45deg);
  }
}
