/*
* Fonts
*/


@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-UltraLight.eot');
    src: url('../fonts/Qanelas-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-Heavy.eot');
    src: url('../fonts/Qanelas-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-ThinItalic.eot');
    src: url('../fonts/Qanelas-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-SemiBold.eot');
    src: url('../fonts/Qanelas-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-RegularItalic.eot');
    src: url('../fonts/Qanelas-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-UltraLightItalic.eot');
    src: url('../fonts/Qanelas-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-BoldItalic.eot');
    src: url('../fonts/Qanelas-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-Thin.eot');
    src: url('../fonts/Qanelas-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-ExtraBoldItalic.eot');
    src: url('../fonts/Qanelas-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-Bold.eot');
    src: url('../fonts/Qanelas-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-Medium.eot');
    src: url('../fonts/Qanelas-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-SemiBoldItalic.eot');
    src: url('../fonts/Qanelas-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-LightItalic.eot');
    src: url('../fonts/Qanelas-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-ExtraBold.eot');
    src: url('../fonts/Qanelas-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-Light.eot');
    src: url('../fonts/Qanelas-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-Black.eot');
    src: url('../fonts/Qanelas-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-MediumItalic.eot');
    src: url('../fonts/Qanelas-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-Regular.eot');
    src: url('../fonts/Qanelas-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-HeavyItalic.eot');
    src: url('../fonts/Qanelas-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../fonts/Qanelas-BlackItalic.eot');
    src: url('../fonts/Qanelas-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qanelas-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
