/*
* Base form Elements
*/

.radio-button {
  input[type=radio] {
    display: none;
  }

  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 38px;
    font-size: 17px;
  }

  label:before {
    content: "";
    background-image: -moz-linear-gradient( 90deg, rgb(221,228,238) 0%, rgb(203,213,227) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(221,228,238) 0%, rgb(203,213,227) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(221,228,238) 0%, rgb(203,213,227) 100%);
    border-radius: 24px;
    display: inline-block;
    height: 24px;
    position: absolute;
      left: 0;
      top: 0;
    text-align: center;
    width: 24px;
  }

  input[type=radio]:checked + label:before {
    content: "\2022";
    background-image: -moz-linear-gradient( 90deg, rgb(230,44,80) 0%, rgb(250,86,118) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(230,44,80) 0%, rgb(250,86,118) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(230,44,80) 0%, rgb(250,86,118) 100%);
    color: #FFF;
    font-size: 60px;
    line-height: 24px;
  }

}
