<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Super Search</title>
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
<body>
  <div id="app">
    <!-- header -->
    <div class="s-global-header">
      <div class="s-global-header__wrap wrapper">
        <div class="s-global-header__logo">
          <a href="/">
            <img src="../static/images/logo.png" alt="logo" />
          </a>
        </div>
      </div>
    </div>
    <!-- header -->

    <div class="s-global-wrapper s-global-wrapper--center vue-wrapper">

      <!-- background-image -->
      <div class="s-global-background-image">
        <img src="../static/images/404bg.jpg" alt="">
      </div>
      <!-- background-image -->

      <div class="wrapper u-align-center">
        <div>
          <h1 class="h404">404</h1>
          <p>Кажется, здесь нет живых, поскорей сваливай отсюда!</p>
          <a href="../index.html" class="btn btn--small u-margin-top-md">
            На главную
         </a>
        </div>
      </div>

    </div>

  </div>

</body>
</html>
