<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Super Search</title>
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
<body>
  <!-- header -->
  <div class="s-global-header">
    <div class="s-global-header__wrap wrapper">
      <div class="s-global-header__logo">
        <a href="/">
          <img src="../static/images/logo.png" alt="logo" />
        </a>
      </div>
      <div class="s-global-header__menu">
        <a href="#" class="s-global-header__menu-link is-active">Герой сериала</a>
        <a href="#" class="s-global-header__menu-link">Идеальная профессия</a>
      </div>
    </div>
  </div>
  <!-- header -->

  <!-- background-image -->
  <div class="s-global-background-image">
    <img src="../static/images/3bg.jpg" alt="">
  </div>
  <!-- background-image -->

  <div class="s-global-wrapper">
    <div class="wrapper u-align-center">
        <h1>Кто ты из культовых сериалов?</h1>

        <div class="c-question-block">
          <p class="c-question-block__header">Ваш начальник дал вам и вашему
            сослуживцу задание, но не назначил oтветственного за его выполнение.
             Вы оба понадеялись друг на друга и забыли про задание. Сейчас ваш
             начальник ругает вас за невыполнение задания.<br/>Ваша реакция:</p>
          <div class="c-question-block__choice radio-button">
            <input type="radio" name="question" id="q1">
            <label for="q1">Я не люблю привлекать к себе внимание, ненавижу
               произносить тосты. Я не буду ни соглашаться, ни отказываться,
               а просто как-нибудь увильну. </label>
          </div>
          <div class="c-question-block__choice radio-button">
            <input type="radio" name="question" id="q2">
            <label for="q2">Я хороший рассказчик и знаю пару прикольных тостов.
               Все будут в восторге. </label>
          </div>
          <div class="c-question-block__choice radio-button">
            <input type="radio" name="question" id="q3">
            <label for="q3">Я не боюсь произносить тосты, даже получаю от этого
               удовольствие, скажу что-нибудь умное и по делу. </label>
          </div>
          <div class="c-question-block__choice radio-button">
            <input type="radio" name="question" id="q4">
            <label for="q4">Я, скорее всего, откажусь под убедительным
              предлогом. Но если мне надо произвести хорошее впечатление для
              пользы дела, то могу и произнести уместный изящный тост. </label>
          </div>
        </div>
        <div class="u-align-left u-margin-bottom-md">
          <a href="page4.html" class="btn btn--small btn--disabled u-align-center">
            Далее <img src="../static/images/arrow.png"/>
         </a>
        </div>
    </div>
  </div>

</body>
</html>
