<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Super Search</title>
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
<body>
  <div id="app">
    <!-- header -->
    <div class="s-global-header">
      <div class="s-global-header__wrap wrapper">
        <div class="s-global-header__logo">
          <a href="/">
            <img src="../static/images/logo.png" alt="logo" />
          </a>
        </div>
        <div class="s-global-header__menu">
          <a href="#" class="s-global-header__menu-link is-active">Герой сериала</a>
          <a href="404.html" class="s-global-header__menu-link">Идеальная профессия</a>
        </div>
      </div>
    </div>
    <!-- header -->

    <!-- background-image -->
    <div class="s-global-background-image">
      <img src="../static/images/2bg.jpg" alt="">
    </div>
    <!-- background-image -->

    <!-- progress bar -->
    <div class="progress">
      <div class="progress-bar" style="width: 0%;">
        <span class="progress-bar-counter">0/15.</span>
      </div>
    </div>
    <!-- progress bar -->

    <div class="s-global-wrapper">
      <div class="wrapper u-align-center">
          <h1>Кто ты из культовых сериалов?</h1>

          <div class="c-question-block">
            <p class="c-question-block__header">Вы пришли в гости, где собралось
              уже более 10 человек. Ваша реакция:</p>
            <div class="c-question-block__choice radio-button">
              <input type="radio" name="question" id="q1" checked>
              <label for="q1">Здорово! Обожаю шумные компании, можно повеселиться,
                завести новых знакомых.</label>
            </div>
            <div class="c-question-block__choice radio-button">
              <input type="radio" name="question" id="q2">
              <label for="q2">Я люблю бывать в компаниях, часто оказываюсь в
                центре внимания. Или удастся хорошенько зажечь, или уж,
                на худой конец, с полезными людьми познакомлюсь.</label>
            </div>
            <div class="c-question-block__choice radio-button">
              <input type="radio" name="question" id="q3">
              <label for="q3">Надеюсь, что встречу здесь каких-нибудь знакомых,
                 мне будет приятно с ними пообщаться. Если все – незнакомые люди,
                 то мне будет некомфортно.</label>
            </div>
            <div class="c-question-block__choice radio-button">
              <input type="radio" name="question" id="q4">
              <label for="q4">Я не очень люблю шумные компании и хожу на вечеринки
                только, чтобы завести или поддержать полезные знакомства.
                 Мне приятнее посидеть и поговорить с одним-двумя
                 людьми в покое и тишине. </label>
            </div>
          </div>
          <div class="u-align-left u-margin-bottom-md">
            <a href="page3.html" class="btn btn--arrow btn--small u-align-center">
              Далее <img src="../static/images/arrow.png"/>
           </a>
          </div>
      </div>
    </div>
  </div>  

</body>
</html>
