<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Super Search</title>
    <link href="../static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
  </head>
<body>
  <!-- header -->
  <div class="s-global-header">
    <div class="s-global-header__wrap wrapper">
      <div class="s-global-header__logo">
        <a href="/">
          <img src="../static/images/logo.png" alt="logo" />
        </a>
      </div>
      <div class="s-global-header__menu">
        <a href="#" class="s-global-header__menu-link is-active">Герой сериала</a>
        <a href="404.html" class="s-global-header__menu-link">Идеальная профессия</a>
      </div>
    </div>
  </div>
  <!-- header -->

  <!-- background-image -->
  <div class="s-global-background-image u-position-absolute">
    <img src="../static/images/2bg.jpg" alt="">
  </div>
  <!-- background-image -->

  <div class="s-global-wrapper wrapper u-align-center">
      <h1 class="u-margin-bottom-md">Ваш тип личности</h1>

      <div class="c-icon-blocks u-margin-bottom-md">
        <div class="c-icon-blocks__item">
          <div class="c-icon-blocks__item-img">
              <img src="../static/images/result1.png" alt="result1">
          </div>
          <div>
            <p class="c-icon-blocks__item-title">Шелдон Ли Купер</p>
            <p class="c-icon-blocks__item-description">Теория большого взрыва</p>
          </div>
        </div>
        <div class="c-icon-blocks__item">
          <div class="c-icon-blocks__item-img c-icon-blocks__item-img--centered">
              <img src="../static/images/result2.png" alt="result2">
          </div>
          <div>
            <p class="c-icon-blocks__item-title">Миранда Хоббс </p>
            <p class="c-icon-blocks__item-description">Секс в большом городе</p>
          </div>
        </div>
        <div class="c-icon-blocks__item">
          <div class="c-icon-blocks__item-img c-icon-blocks__item-img--centered">
              <img src="../static/images/result3.png" alt="result3">
          </div>
          <div>
            <p class="c-icon-blocks__item-title">Моника Геллер</p>
            <p class="c-icon-blocks__item-description">Друзья</p>
          </div>
        </div>
      </div>

      <h2>Вы относитесь к рациональным, логически мыслящим, очень аккуратным,
         организованным и методичным людям.</h2>

      <span class="go-to-results js-go-to-results"></span>

  </div>

  <div class="result-page u-position-relative">

    <!-- background-image -->
    <div class="s-global-background-blur-image"
    style="background-image: url('../static/images/2bg.jpg')">
    </div>
    <!-- background-image -->

    <div class="wrapper">

      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="u-display-none">
       <filter id="blur">
         <feGaussianBlur stdDeviation="10"/>
       </filter>
      </svg>

      <p class="title">Профайл:</p>
      <p>Вас очень трудно обмануть, вы хорошо
        чувствуете ложь, подвох, а кроме того вы замечаете и анализируете
        детали и факты, недоступные для других людей.</p>
      <p>Ваш внешний вид отражает вашу внутреннюю
        потребность в порядке, аккуратности: все цвета в одежде идеально
        подобраны и гармонично сочетаются, ваша обувь всегда чиста.</p>
      <p>Вы ориентированы на решение проблем.
        Любая задача вам по плечу. Вы способны разобраться в любой проблеме
        до деталей, составить четкий план ее решения и методично двигаться
        в соответствии с планом.<br/>
        Вы не любите беспорядок на рабочем столе, он вас раздражает.
        На столе должны быть только те вещи, которые функционально
        необходимы в данный момент.</p>
      <p>Вы не склонны к откровенному проявлению
        чувств и эмоций, ваши жесты и мимика сдержаны и функциональны.</p>
      <p>Вы предпочитаете действовать по заранее
        составленному плану, в точности соблюдая его. Необходимость моментально
        решить вопрос с наскока может вывести вас из равновесия.  <br/>
        Вами довольно трудно манипулировать. Большинство комплиментов и хвалебных
        реплик в ваш адрес будет воспринят вами скорее скептически. </p>
      <p>Наиболее комфортная форма общения
        для вас – переписка.</p>
      <p>В стрессовой ситуации вы склонны
        уходить в себя, замыкаться.</p>

      <p class="title">Рекомендации:</p>
      <ul>
        <li>Не будьте слишком критичны и к себе, и к окружающим, у человека
          есть право на ошибку и возможность ее исправить.</li>
        <li>Для развития коммуникативных навыков, практикуйте
          публичные выступления.</li>
        <li>Иногда ваш перфекционизм может мешать выполнению задачи в срок.
          Помните об этом когда в очередной раз захотите улучшить
           качество вашего труда.</li>
        <li>Помните, что иногда, ради результата и ради людей имеет смысл идти
          на компромиссы. Попробуйте поставить себя на место своих оппонентов,
          посмотреть на проблему их глазами.</li>
      </ul>

      <p class="h2 u-align-center u-margin-top-xxl">Узнал себя в описании?<br/>
        Поделись результатом с друзьями!</p>

      <!-- c-socials -->
      <div class="c-socials c-socials--coloured u-align-center u-margin-top-md u-padding-bottom-xxl">
        <a href="#" class="c-socials__item">
          <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path fill="#1a689f" d="M21.54736,7H18.25688a.74281.74281,0,0,0-.65452.39156s-1.31237,2.41693-1.73392,3.231C14.73438,12.8125,14,12.125,14,11.10863V7.60417A1.10417,1.10417,0,0,0,12.89583,6.5h-2.474a1.9818,1.9818,0,0,0-1.751.8125s1.25626-.20312,1.25626,1.48958c0,.41974.02162,1.62723.04132,2.64a.72943.72943,0,0,1-1.273.50431,21.54029,21.54029,0,0,1-2.4982-4.54359A.69314.69314,0,0,0,5.5668,7C4.8532,7,3.42522,7,2.57719,7a.508.508,0,0,0-.47969.68481C3.00529,10.17487,6.91576,18,11.37917,18h1.87865A.74219.74219,0,0,0,14,17.25781V16.12342a.7293.7293,0,0,1,1.22868-.5315l2.24861,2.1127A1.08911,1.08911,0,0,0,18.223,18h2.95281c1.42415,0,1.42415-.98824.64768-1.75294-.54645-.53817-2.51832-2.61663-2.51832-2.61663A1.01862,1.01862,0,0,1,19.2268,12.307c.63737-.83876,1.67988-2.21175,2.122-2.79993C21.95313,8.70313,23.04688,7,21.54736,7Z"/>
          </svg>
        </a>
        <a href="#" class="c-socials__item">
          <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" fill="#3fabe3">
            <circle cx="16" cy="8" r="4"/>
            <path d="M12.58331,8.83331C12.37488,8.83331,12,9.26563,12,9.5A8.5,8.5,0,0,1,3.5,18a8.52217,8.52217,0,0,1-1.28479-.1073A11.41717,11.41717,0,0,0,20,8.41663C20,7.681,15.31757,8.83331,12.58331,8.83331Z"/>
            <path d="M12.58331,8.83331a11.385,11.385,0,0,1-8.69452-4.028A3.93758,3.93758,0,0,0,3.35,6.77081,3.9792,3.9792,0,0,0,7.32916,10.75c2.12482,0,5.89844.02264,6.14691-1.96179C13.18054,8.81116,12.8847,8.83331,12.58331,8.83331Z"/>
            <path d="M5.24585,10.04163a3.93437,3.93437,0,0,1-1.88977-.49774c-.00031.02057-.0061.03961-.0061.06024a3.9792,3.9792,0,0,0,3.97919,3.97919c2.19763,0,5.275-1.594,5.275-3.79165C12.60417,8.282,7.42285,10.04163,5.24585,10.04163Z"/>
            <path d="M7.72642,12.99649a3.90991,3.90991,0,0,1-3.02909.52286A3.96636,3.96636,0,0,0,8.49585,16.375a5.25835,5.25835,0,0,0,4.67082-4.66667C13.16667,9.81478,8.82831,12.28888,7.72642,12.99649Z"/>
            <path d="M17.61041,5.37915c-1.32214,0-1.63562,1.6604.075,1.6604a3.96629,3.96629,0,0,0,3.754-2.71222A7.49909,7.49909,0,0,1,17.61041,5.37915Z"/>
            <path d="M18.82916,6.5354a7.52209,7.52209,0,0,1-2.93716-.593c-2.70831-1.14551-4.35526,3.343-.18784,3.343A7.53392,7.53392,0,0,0,22.05579,5.803,7.50268,7.50268,0,0,1,18.82916,6.5354Z"/>
          </svg>
        </a>
      </div>
      <!-- c-socials -->
    </div>
  </div>

</body>
</html>
