/*
* Breakpoints
*
*/

$grid-columns: 12;
$default-feature: min-width;

/// Extra-Extra-Small responsive breakpoint viewport size in pixels
$xxs-px: 375px !default;

/// Extra-Small responsive breakpoint viewport size in pixels
$xs-px: 480px !default;

/// Small responsive breakpoint viewport size in pixels
$sm-px: 768px !default;

/// Tablet responsive breakpoint viewport size in pixels
$tb-px: 1024px !default;

/// Medium responsive breakpoint viewport size in pixels
$md-px: 1140px !default;

/// Large responsive breakpoint viewport size in pixels
$lg-px: 1280px !default;

/// Extra-Large responsive breakpoint viewport size in pixels
$xl-px: 1600px !default;


/*
* Mobile First Queries
*
*/

/// (Mobile First) Extra-Extra-Small-Up responsive breakpoint
$xxs-view-up: min-width em($xxs-px) !default;

/// (Mobile First) Extra-Small-Up responsive breakpoint
$xs-view-up: min-width em($xs-px) !default;

/// (Mobile First) Small-Up responsive breakpoint
$sm-view-up: min-width em($sm-px) !default;

/// (Mobile First) Table-Up responsive breakpoint
$tb-view-up: min-width em($tb-px) !default;

/// (Mobile First) Medium-Up responsive breakpoint
$md-view-up: min-width em($md-px) !default;

/// (Mobile First) Large-Up responsive breakpoint
$lg-view-up: min-width em($lg-px) !default;

/// (Mobile First) Extra-Large-Up responsive breakpoint
$xl-view-up: min-width em($xl-px) !default;

/*
* Desktop First Queries
*
*/

/// (Desktop First) Extra-Small-Down responsive breakpoint
$xs-view-down: max-width em($xs-px - 1) !default;

/// (Desktop First) Small-Down responsive breakpoint
$sm-view-down: max-width em($sm-px - 1) !default;

/// (Desktop First) Table-Down responsive breakpoint
$tb-view-down: max-width em($tb-px - 1) !default;

/// (Desktop First) Medium-Down responsive breakpoint
$md-view-down: max-width em($md-px - 1) !default;

/// (Desktop First) Large-Down responsive breakpoint
$lg-view-down: max-width em($lg-px - 1) !default;

/// (Desktop First) Extra-Large-Down responsive breakpoint
$xl-view-down: max-width em($xl-px - 1) !default;
