/*
* Core Global Variables
*/


/*
* Typography
*/

/// Primary font family of design
$font-family-primary: 'Qanelas', sans-serif !default;


/*
* Layout
*/

/// Page-level constraining and wrapping width
$wrapper-max-width: 1000px !default;
$header-height: 70px;
$wrapper-height: calc(100% - #{$header-height});
$em-base: 16px !default;

@function wrapper-height($margin) {
    $height: $header-height + $margin;

    @return calc(100vh - #{$height});

}

/*
* Color Names
*
* All color variable names should be named using
* http://chir.ag/projects/name-that-color/
*
*/

$denim: #105AB4;
$oslo-gray: #949699;
$firefly: #0E1E33;
$zircon: #F1F7FF;
$cornflower: #92B8E9;
$pigeon-post: #A7BAD3;
$tuna: #3D3F43;
$solitude: #E6F4FF;
$athens-gray: #F8F9FA;
$tropical-blue: #CEE1F7;
$spindle: #AAC7EB;
